#header {
	background-size :cover;
 	background-repeat: no-repeat;
 	background-position: center top;
}

#header:before {
	display: block;
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	content: "";
	background: rgba(76,76,76,0);
	background: -moz-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(19,19,19,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,0)), color-stop(100%, rgba(19,19,19,1)));
	background: -webkit-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(19,19,19,1) 100%);
	background: -o-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(19,19,19,1) 100%);
	background: -ms-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(19,19,19,1) 100%);
	background: linear-gradient(to bottom, rgba(76,76,76,0) 0%, rgba(19,19,19,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}

#header > .inner,
#footer {position: relative}

article:nth-child(2n+1) {clear: both;}

.fa-mobile-phone::before, .fa-mobile::before {font-size: 2em; margin-right: 0.2em}

.reponse_formulaire_ok {padding: 2em; background-color: #333; color: #fff; text-align: center}

.oembed_video > figcaption.spip_doc_legende {display:none}
figure {margin-bottom: 1.5em}
#contact {margin-top: 1.5em}

.spip_documents img {width: 100%; height: auto}
.spip_documents_left img {width: 33%;}
.spip_documents_right img {width: 33%;}
