<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="#CHEMIN{css/main.css}" />
<link rel="stylesheet" href="#CHEMIN{css/perso.css}" />
<!--[if lte IE 8]><link rel="stylesheet" href="#CHEMIN{css/ie8.css}" /><![endif]-->