[(#REM)
	Head standard de toutes les pages ;
	les elements specifiques (title, description) figurent dans chaque squelette

]
<meta http-equiv="Content-Type" content="text/html; charset=#CHARSET" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

[(#REM) Lien vers le flux RSS du site ]
[<link rel="alternate" type="application/rss+xml" title="<:syndiquer_site:>" href="(#URL_PAGE{backend})" />]

#INSERT_HEAD_CSS

<link rel="stylesheet" href="#CHEMIN{css/perso.css}" type="text/css" media="all" />

#INSERT_HEAD


[(#REM) Fierement fabrique avec SPIP ]
<meta name="generator" content="SPIP[ (#SPIP_VERSION)]" />

[(#REM) Favicon ]
[<link rel="icon" type="image/x-icon" href="(#CHEMIN{favicon.ico})" />
[<link rel="shortcut icon" type="image/x-icon" href="(#CHEMIN{favicon.ico})" />]]

[(#REM) meta robots ]
[<meta name="robots" content="(#ENV{robots})" />]
