<!-- sociaux -->
	[(#SET{rezo,[(#PIPELINE{sociaux_lister,#ARRAY{args,#ARRAY{skel,#SQUELETTE,date,#ENV**{date}},data,#ARRAY}})]})]
		
		<BOUCLE_rezo (DATA) {source tableau,#GET{rezo}}>
		[(#CONFIG{sociaux/#CLE}|oui)
		<li>
			<a class="icon fa-#CLE" href="[(#CLE|=={skype}|oui)callto:]#CONFIG{sociaux/#CLE}">
				[<span class="label">(#VALEUR)</span>]
			</a>
		</li>]
		</BOUCLE_rezo>

