<body>
	<div id="top">
		<INCLURE{fond=header/#ENV{type-page},env}>
		<INCLURE{fond=content/#ENV{type-page},env}>
		<INCLURE{fond=footer/#ENV{type-page},env}>
	</div>

	<!--[if lte IE 8]><script src="#CHEMIN{js/ie/respond.min.js}"></script><![endif]-->
</body>
