<BOUCLE_contacter(ARTICLES){id_article}>
<!-- Three -->
<section class="contact" id="three-#ID_ARTICLE">
	<BOUCLE_contact(AUTEURS){id_auteur=#CONFIG{html5up_strata/contact,2}}{tout}>

	[<section>
		[<h2>(#TITRE)</h2>]
		(#TEXTE)
	</section>]

	<div class="row" id="contact">
		<div class="8u 12u$(small)">
		#FORMULAIRE_ECRIRE_AUTEUR
		</div>
		<div class="4u$ 12u$(small)">
			<ul class="labeled-icons">
				[<li>
					<h3 class="icon fa-user"><span class="label"><:identite_extra:nom_organisation:></span></h3>
					(#IDENTITE_NOM_ORGANISATION|sinon{#NOM_SITE_SPIP})</li>]
				[<li>
					<h3 class="icon fa-home"><span class="label"><:identite_extra:adresse:></span></h3>
					(#IDENTITE_ADRESSE) <br/>
					 #IDENTITE_CODE_POSTAL #IDENTITE_VILLE <br/>
					 [(#IDENTITE_REGION) - ]#IDENTITE_PAYS
				</li>]
				[<li>
					<h3 class="icon fa-mobile"><span class="label"><:identite_extra:telephone:></span></h3>
					(#IDENTITE_TELEPHONE)
				</li>]
				<li>
					<h3 class="icon fa-envelope-o"><span class="label"><:email>:</span></h3>
					[(#PLUGIN{mailcrypt}|?{
						[(#VAL{<a href="mailto:#EMAIL">#EMAIL</a>}|mailcrypt)]
					,
						<a href="mailto:#EMAIL">#EMAIL</a>
					})]
				</li>
			</ul>
		</div>
	</div>
	</BOUCLE_contact>
</section>
</BOUCLE_contacter>
