[(#CONTEXTE|=={sommaire}|oui)
	#SET{quantite,6}
]
<BOUCLE_portfolio(ARTICLES){id_article}>
<!-- Two -->
<section class="portfolio" id="two-#ID_ARTICLE">
	<h2>#TITRE</h2>
	<div class="row">
	<BOUCLE_images(DOCUMENTS){id_article}{tous}{extension=jpg}{par date}{inverse}{0,#GET{quantite,999}}>
		<article class="6u 12u$(xsmall) work-item">
			<a href="#URL_DOCUMENT" class="image fit thumb">[(#FICHIER|image_reduire{400,0}|image_recadre{370,217})]</a>
			<h3>#TITRE</h3>
			[(#CONTEXTE|=={sommaire}|?{
				[<p>(#DESCRIPTIF|couper{120,'… '})</p>]
				,
				[<p>(#DESCRIPTIF)</p>]
				})
			]
		</article>
	</BOUCLE_images>
	</div>
	
	[(#CONTEXTE
		|=={sommaire}
		|et{#TOTAL_BOUCLE}
		|>{#GET{quantite}}
		|oui)
	<ul class="actions">
		<li><a href="#URL_ARTICLE" class="button"><:html5up_strata:portfolio_plus:></a></li>
	</ul>
	]
	[(#CONTEXTE
		|=={sommaire}
		|non)
	#TEXTE
	]
	
	
</section>
</BOUCLE_portfolio>