<BOUCLE_article(ARTICLES){id_article}>
<!-- One -->
	<section class="defaut" id="one-#ID_ARTICLE">
		<header class="major">
			<h2>#TITRE</h2>
		</header>


		[(#CONTEXTE|=={sommaire}|?{
			
			[<p>(#TEXTE|couper{500})</p>]
			<ul class="actions">
				<li><a href="#URL_ARTICLE" class="button"><:en_savoir_plus:></a></li>
			</ul>
			,
			#TEXTE
		})
		]

	</section>
</BOUCLE_article>
