<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<BOUCLE_email(AUTEURS){id_auteur=#CONFIG{html5up_strata/contact,2}}{tout}>
				[<li>(#PLUGIN{mailcrypt}|?{
					[(#VAL{<a class="icon fa-envelope" href="mailto:#EMAIL"><span class="label">#EMAIL</span></a>}|mailcrypt)]
					,
					<a class="icon fa-envelope" href="mailto:#EMAIL"><span class="label">#EMAIL</span></a>
				})</li>]
				</BOUCLE_email>
				<INCLURE{fond=inclure/sociaux}/>
			</ul>
			<B_footer>
				<ul class="copyright">
					<BOUCLE_footer(ARTICLES){composition=footer}{id_rubrique=-1}>
						<li><a href="#URL_ARTICLE">#TITRE</a></li>
					</BOUCLE_footer>
				</ul>
			</B_footer>
			<ul class="copyright">
				<li><:html5up_strata:propulse:></li><li><:html5up_strata:conception:> : <a href="http://html5up.net">HTML5 UP</a><li><:html5up_strata:adapte:> : Fa_b</li></li>
			</ul>
		</div>
	</footer>
