<div class="formulaire_spip formulaire_ecrire_auteur ajax" id="#formulaire_ecrire_auteur#ENV{id}">
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form method="post" action="#ENV{action}#formulaire_ecrire_auteur#ENV{id}">
	#ACTION_FORMULAIRE{#ENV{action}}
	
	[(#ENV*{erreurs}|table_valeur{previsu}|oui)
	<fieldset class="previsu">
		<legend><:previsualisation:></legend>
		<div>
			<div><strong>#ENV{sujet_message_auteur}</strong> - <em>#ENV{email_message_auteur}</em></div>
			<div>[(#ENV{texte_message_auteur}|nl2br)]</div>
		</div>
		<p class="boutons"><input type="submit" class="submit special" name="confirmer" value="<:form_prop_confirmer_envoi:>" /></p>
	</fieldset>
	]		
		<div class="row uniform 50%">
			<div class="6u 12u$(xsmall)"><input type="text" class="text" name="sujet_message_auteur" id="sujet_message_auteur#ENV{id}" value="#ENV{sujet_message_auteur}" placeholder="<:form_prop_sujet:>"[(#HTML5) required="required"] /></div>
			<div class="6u$ 12u$(xsmall)"><input[ (#HTML5|?{required="required" type="email" class="text email",type="text" class="text"})] name="email_message_auteur" id="email_message_auteur#ENV{id}" value="#ENV{email_message_auteur}"  placeholder="<:entree_adresse_email:>" /></div>
			<div class="12u$"><textarea name="texte_message_auteur" id="texte_message_auteur#ENV{id}" placeholder="<:info_texte_message:>" rows="4"[(#HTML5) required="required"]>#ENV{texte_message_auteur}</textarea></div>
		</div>

	[(#REM) Piege a robots spammeurs ]
	<p style="display: none;">
		<label for="nobot"><:antispam_champ_vide:></label>
		<input type="text" class="text" name="nobot" id="nobot" value="#ENV{nobot}" size="10" />
	</p>
	<div class="row uniform 50%">
		<ul class="actions">
			<li><input type="submit" value="<:form_prop_envoyer:>" /></li>
		</ul>
	</div>
	</form>
</div>
