<!-- Header -->
<header id="header"
	<BOUCLE_fond(DOCUMENTS){tout}{si #CONFIG{html5up_strata/aleatoire}|=={1}}{media=image}{mode=image}{par hasard}{0,1}>
		style="background-image:url(#URL_DOCUMENT)"
	</BOUCLE_fond>
		style="background-color:#000"
	<//B_fond>
	>
	<div class="inner">
		[<a href="#URL_SITE_SPIP" class="image avatar">(#LOGO_SITE_SPIP|image_reduire{100})</a>]
		<h1><strong>#NOM_SITE_SPIP </strong>[<br/>(#SLOGAN_SITE_SPIP).]</h1>
	</div>
</header>
